flows_sensehat.json
[{"id":"a5237aa5.a1d1d8","type":"tab","label":"SenseHat","disabled":false,"info":""},{"id":"6a361a85.351894","type":"tab","label":"WIP","disabled":false,"info":""},{"id":"841ea5ba.866ea8","type":"tab","label":"Barcode","disabled":false,"info":""},{"id":"178d57ca.197c68","type":"tab","label":"LoRa ","disabled":true,"info":""},{"id":"2e284049.75c5","type":"tab","label":"LoRa Producer","disabled":true,"info":""},{"id":"af729df.d9f786","type":"tab","label":"CEP Example","disabled":true,"info":""},{"id":"8775e083.119f6","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"42007c00.67e624","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"877fc75.a32e738","type":"subflow","name":"TTN Manage Device","info":"","category":"","in":[{"x":40,"y":20,"wires":[{"id":"2063341f.38a49c"}]}],"out":[{"x":800,"y":160,"wires":[{"id":"1e2d50c6.369b3f","port":0},{"id":"256f0ee8.320f82","port":0}]}]},{"id":"b2ddaaab.5e4098","type":"mqtt-broker","z":"","broker":"10.0.0.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0b3c5e3.d17788","type":"mqtt-broker","z":"6a361a85.351894","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"5abbb7b9.4e7198","type":"mqtt-broker","z":"","broker":"73.94.0.121","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"98e9373f.27c0e8","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"5000","bin":"false","out":"time","addchar":false},{"id":"740eb41c.0e84fc","type":"serial-port","z":"","serialport":"/dev/ttyACM1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"5000","bin":"false","out":"time","addchar":false},{"id":"4e024af1.cd9304","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ce7beb1.36b78","type":"mqtt-broker","z":"178d57ca.197c68","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"c3b84858.eb7538","type":"mqtt-broker","z":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e743032.68f8a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"94a97d46.d4791","type":"ui_group","z":"","name":"Default","tab":"4e743032.68f8a","disp":true,"width":"6","collapse":false},{"id":"fcf10a9e.dae3d8","type":"serial-port","z":"","serialport":"/dev/ttyACM2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1000","bin":"false","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"43a98d81.e1a674","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"1500","bin":"false","out":"time","addchar":false,"responsetimeout":"10000"},{"id":"1e37426e.db230e","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Environment","motion":false,"env":true,"stick":false,"x":3130,"y":380,"wires":[["6d24c49e.fcecbc"]]},{"id":"f8dfc846.006118","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":false,"console":"false","complete":"true","x":3598,"y":481,"wires":[]},{"id":"37a96e3d.a2cef2","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Motion","motion":true,"env":false,"stick":false,"x":3752,"y":700,"wires":[["e6b2bfeb.a2dca"]]},{"id":"9320a3dc.c9739","type":"rpi-sensehat in","z":"a5237aa5.a1d1d8","name":"Button","motion":false,"env":false,"stick":true,"x":510,"y":740,"wires":[["3de03d94.6a7952"]]},{"id":"e6b2bfeb.a2dca","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":false,"console":"false","complete":"true","x":3932,"y":700,"wires":[]},{"id":"8901ad85.d3fbd","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":3932,"y":760,"wires":[]},{"id":"b75d607f.7459","type":"mqtt in","z":"a5237aa5.a1d1d8","d":true,"name":"","topic":"flic/80:e4:da:72:98:9e/#","qos":"2","datatype":"auto","broker":"4e024af1.cd9304","x":160,"y":260,"wires":[["3bf581ae.a1144e"]]},{"id":"d76896e5.531518","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":570,"y":80,"wires":[]},{"id":"6d158ce3.091154","type":"function","z":"a5237aa5.a1d1d8","name":"singleClick","func":"return {payload: \"*,*,red\"};","outputs":"1","noerr":0,"x":710,"y":180,"wires":[["3f390912.2b9836","6eda5572.715bcc"]]},{"id":"57400730.428678","type":"function","z":"a5237aa5.a1d1d8","name":"doubleClick","func":"return {payload: \"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255\"};","outputs":"1","noerr":0,"x":710,"y":220,"wires":[["3f390912.2b9836"]]},{"id":"90854944.a6db78","type":"function","z":"a5237aa5.a1d1d8","name":"buttonUp","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonUp = nodeid5 + 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\": buttonUp}}; \n\nreturn [ [ dinningRoutine, xkitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":699.125,"y":262,"wires":[[]]},{"id":"1fcc4df0.0cc5b2","type":"function","z":"a5237aa5.a1d1d8","name":"buttonDown","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar nodeid5 = global.get(\"nodeId5\");  \nbuttonDown = nodeid5 - 25;\n\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":buttonDown }}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":710,"y":300,"wires":[[]]},{"id":"2710b35c.7fe13c","type":"function","z":"a5237aa5.a1d1d8","name":"buttonHold","func":"//Set Dinning Room & Kitchen Lighting Levels\nvar dinningRoutine = {topic: \"setValue\", payload: { \"nodeid\":6, \"cmdclass\":38, \"value\":0}};\nvar kitchenRoutine = {topic: \"setValue\", payload: {\"nodeid\":5, \"cmdclass\":38, \"value\":0}}; \n\nreturn [ [ dinningRoutine, kitchenRoutine ], null ];\n","outputs":"1","noerr":0,"x":710,"y":340,"wires":[[]]},{"id":"bdb25df2.37742","type":"switch","z":"a5237aa5.a1d1d8","name":"","property":"payload.clickType","propertyType":"msg","rules":[{"t":"eq","v":"ButtonClick","vt":"str"},{"t":"eq","v":"ButtonDoubleClick","vt":"str"},{"t":"eq","v":"ButtonHold","vt":"str"},{"t":"eq","v":"ButtonUp","vt":"str"},{"t":"eq","v":"ButtonDown","vt":"str"}],"checkall":"true","outputs":5,"x":541.625,"y":262,"wires":[["6d158ce3.091154"],["57400730.428678"],["90854944.a6db78"],["1fcc4df0.0cc5b2"],["2710b35c.7fe13c"]]},{"id":"3bf581ae.a1144e","type":"json","z":"a5237aa5.a1d1d8","name":"","x":382.82144927978516,"y":263.2857246398926,"wires":[["bdb25df2.37742","d76896e5.531518"]]},{"id":"3f390912.2b9836","type":"rpi-sensehat out","z":"a5237aa5.a1d1d8","name":"","x":1330,"y":380,"wires":[]},{"id":"6eda5572.715bcc","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":910,"y":120,"wires":[]},{"id":"4761287.8fc09d8","type":"inject","z":"a5237aa5.a1d1d8","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":716,"y":392,"wires":[["3f390912.2b9836"]]},{"id":"841812df.2feec","type":"inject","z":"a5237aa5.a1d1d8","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":3389.5,"y":302.50000953674316,"wires":[["782f37e1.07d328"]]},{"id":"87b65d4d.30e1c","type":"rpi-sensehat out","z":"a5237aa5.a1d1d8","name":"","x":3949.5,"y":302.50000953674316,"wires":[]},{"id":"782f37e1.07d328","type":"function","z":"a5237aa5.a1d1d8","name":"Rotate 180 Text Red Background Blue Speed 5","func":"msg.color = \"red\";\nmsg.background = \"blue\";\nmsg.speed = \"5\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":3659.5,"y":302.50000953674316,"wires":[["87b65d4d.30e1c"]]},{"id":"3cb0a487.10a22c","type":"http request","z":"6a361a85.351894","name":"Data source","method":"GET","url":"http://www.aviationweather.gov{{{payload}}}","x":290,"y":140,"wires":[["665a790.b2acc88","3c3fb890.cf90a8"]]},{"id":"7a5898ef.618c98","type":"inject","z":"6a361a85.351894","name":"Weather report","topic":"","payload":"/adds/dataserver_current/httpparam?dataSource=metars&requestType=retrieve&format=xml&hoursBeforeNow=3&mostRecent=true&stationString=KRNH","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":140,"wires":[["3cb0a487.10a22c"]]},{"id":"665a790.b2acc88","type":"xml","z":"6a361a85.351894","name":"","x":436,"y":140,"wires":[["b9a37cd9.a7e51","84ce2e4b.937bd"]]},{"id":"cd81597b.4bc498","type":"debug","z":"6a361a85.351894","name":"","active":false,"console":"false","complete":"payload","x":760,"y":140,"wires":[]},{"id":"b9a37cd9.a7e51","type":"function","z":"6a361a85.351894","name":"Parse METAR","func":"var METARdata = msg.payload.response.data[0].METAR[0];\nvar wind = METARdata.wind_speed_kt[0];\nvar gusts = wind; //if wind_gust_kt is not present, value defaults to wind_speed_kt\n   if (typeof METARdata.wind_gust_kt != \"undefined\") {\n\t   gusts = METARdata.wind_gust_kt[0];\n       }\nvar altim = METARdata.altim_in_hg[0];\nvar pressure = Math.round(altim * 33.8637526); //convert hg to mb\nvar dew = METARdata.dewpoint_c[0];\nvar temp = METARdata.temp_c[0];\n\n//August-Roche-Magnus approximation to calculate humidity\nvar constA = 17.625;\nvar constB = 243.04;\nvar rh_numer = 100.0*Math.exp((constA*eval(dew))/(eval(dew)+constB));\nvar rh_denom = Math.exp((constA*eval(temp))/(eval(temp)+constB));\nvar rh_hum   = (rh_numer/rh_denom);\nvar humidity = Math.round(rh_hum);\n\nmsg.payload = ((wind) + (\",\") + (gusts) + (\",\") + (humidity) + (\",\") + (pressure) + (\",\") + (temp));\nreturn msg;","outputs":1,"x":591,"y":140,"wires":[["cd81597b.4bc498"]]},{"id":"b921105c.96dfa","type":"comment","z":"6a361a85.351894","name":"NOAA Weather data","info":"Retrieving Finningly Airport METAR feed","x":122,"y":101,"wires":[]},{"id":"74bbb39a.ea44fc","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":725.7143096923828,"y":485.28573513031006,"wires":[]},{"id":"c70dfee8.2a9ee","type":"function","z":"6a361a85.351894","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":434.14283752441406,"y":538.9999675750732,"wires":[["74bbb39a.ea44fc"],["2dab31b5.f35b9e"],["7f27045b.ea5dbc"]]},{"id":"2dab31b5.f35b9e","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":768.8571166992188,"y":534.9285020828247,"wires":[]},{"id":"7f27045b.ea5dbc","type":"debug","z":"6a361a85.351894","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":true,"console":"false","complete":"payload","x":786.0000457763672,"y":591.3570346832275,"wires":[]},{"id":"dc6380ed.6993a","type":"debug","z":"6a361a85.351894","name":"message (as is)","active":true,"console":"false","complete":"payload","x":555,"y":419.5,"wires":[]},{"id":"a77cb077.b8fe8","type":"inject","z":"6a361a85.351894","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"ARA=\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":495,"wires":[["c70dfee8.2a9ee"]]},{"id":"860a8a6a.9979d8","type":"inject","z":"6a361a85.351894","name":"Text example","topic":"","payload":"{\"payload_raw\":\"SGVsbG8sIHdvcmxkIQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":545,"wires":[["c70dfee8.2a9ee"]]},{"id":"3f37db39.8ecbf4","type":"function","z":"6a361a85.351894","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":282.00001525878906,"y":652.7142820358276,"wires":[[]]},{"id":"2ebacf1e.d2741","type":"json","z":"6a361a85.351894","name":"","x":385.5,"y":420,"wires":[["dc6380ed.6993a"]]},{"id":"e344eaa.dcc5018","type":"comment","z":"6a361a85.351894","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":251,"y":368,"wires":[]},{"id":"b74cf7b0.2731d8","type":"function","z":"6a361a85.351894","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":329.00001525878906,"y":704.7142820358276,"wires":[[]]},{"id":"fd2c9302.3e77b","type":"inject","z":"8775e083.119f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105.5,"y":124,"wires":[["a1a7b112.e8dd5","1a508c1d.4bb6b4"]]},{"id":"2c15419.6ca3bbe","type":"template","z":"8775e083.119f6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":277.5,"y":125,"wires":[[]]},{"id":"1c0e3ddb.9eb252","type":"debug","z":"8775e083.119f6","name":"","active":true,"console":"false","complete":"true","x":710,"y":200,"wires":[]},{"id":"a0a74156.e0564","type":"inject","z":"8775e083.119f6","name":"","topic":"a","payload":"Value A","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["1fdef0d2.02e1cf"]]},{"id":"fe2fad38.39d33","type":"inject","z":"8775e083.119f6","name":"","topic":"b","payload":"Value B","payloadType":"string","repeat":"","crontab":"","once":false,"x":120,"y":360,"wires":[["1fdef0d2.02e1cf"]]},{"id":"40447e57.bbf28","type":"debug","z":"8775e083.119f6","name":"","active":true,"console":"false","complete":"true","x":588.5,"y":386,"wires":[]},{"id":"b40e571d.8f5bf8","type":"inject","z":"8775e083.119f6","name":"","topic":"c","payload":"Value C","payloadType":"string","repeat":"","crontab":"","once":false,"x":120,"y":480,"wires":[["1fdef0d2.02e1cf"]]},{"id":"1fdef0d2.02e1cf","type":"collector","z":"8775e083.119f6","name":"","onlyIfChanged":false,"x":295,"y":386,"wires":[["765d5701.015508"]]},{"id":"14cd862e.e0636a","type":"inject","z":"8775e083.119f6","name":"no b","topic":"b","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":120,"y":420,"wires":[["1fdef0d2.02e1cf"]]},{"id":"765d5701.015508","type":"xml","z":"8775e083.119f6","name":"","x":450.5,"y":386,"wires":[["40447e57.bbf28"]]},{"id":"a9a222da.6b016","type":"comment","z":"8775e083.119f6","name":"","info":"<?xml version=\"1.0\" ?>\n- <CONTROLLER>\n<NAME>test 6</NAME>\n<TYPENAME>Case Controller (HT)</TYPENAME>\n<TYPENUM>12390</TYPENUM>\n<ID>0988</ID>\n<VER>MERCM04</VER>\n<TIME>17:06:12 17/04/02</TIME>\n<ALARMMASK>0x0260</ALARMMASK>\n- <IO>\n- <INPUTS>\n<FP ID=\"CTRL\" NAME=\"Control temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"DISP\" NAME=\"Display temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"AIRON\" NAME=\"Air on Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"AIROF\" NAME=\"Air off Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"EVAP\" NAME=\"Evaporator Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"SUCT\" NAME=\"Suc. Line Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"SHEAT\" NAME=\"Superheat\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<FP ID=\"LOGPR\" NAME=\"Logging Probe\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<STR ID=\"PLTFT\" NAME=\"Plant Fault\" VALS=\"OK | Alarm\">OK</STR>\n<STR ID=\"CCSWT\" NAME=\"Case Clean\" VALS=\"Off | On\">Off</STR>\n</INPUTS>\n- <OUTPUTS>\n<STR ID=\"LLRLY\" NAME=\"Liq. Line Valve\" VALS=\"Closed | Open\">Closed</STR>\n<STR ID=\"SLRLY\" NAME=\"Suc. Line Valve\" VALS=\"Open | Closed\">Closed</STR>\n<STR ID=\"DFRLY\" NAME=\"Defrost Control\" VALS=\"Off | On\">On</STR>\n<STR ID=\"LTRLY\" NAME=\"Lights\" VALS=\"Off | On\">On</STR>\n<STR ID=\"FNRLY\" NAME=\"Case Fans\" VALS=\"Off | On\">On</STR>\n<TIME ID=\"LDFTM\" NAME=\"Last Def. Time\" MIN=\"00:00\" MAX=\"23:59\" STEP=\"00:01\"\nUNIT=\"hh:mm\">17:00</TIME>\n<TIME ID=\"LDFLN\" NAME=\"Last Def. Length\" MIN=\"00:00\" MAX=\"03:00\" STEP=\"00:01\"\nUNIT=\"hh:mm\">00:06</TIME>\n<FP ID=\"LDFT\" NAME=\"Last Def. Temp.\" MIN=\"-49.0\" MAX=\"60.0\" STEP=\"0.1\"\nUNIT=\"C\">N/A</FP>\n<STR ID=\"LDFTY\" NAME=\"Last Def. Type\" VALS=\"None | Internal | External | Network |\nDisplay | Timed\">Timed</STR>\n</OUTPUTS>\n- <STATES>\n<STR ID=\"STATE\" NAME=\"Control State\" VALS=\"Stabilise | Normal | Df_Min | Df_Max |\nDrain_Down | Fan_Delay | Recovery | OT_Alarm | UT_Alarm | Fans_Only |\nLights_Only | Case_Off\">Df_Max</STR>\n</STATES>\n- <COMMANDS>\n<STR ID=\"DFCMD\" NAME=\"Defrost Command\" VALS=\"Normal | Defrost | ElecDf | DefTerm |\nStandby | CaseOff | FansOnly\">Normal</STR>\n</COMMANDS>\n</IO>\n</CONTROLLER>","x":650,"y":100,"wires":[]},{"id":"a1a7b112.e8dd5","type":"function","z":"8775e083.119f6","name":"","func":"var rdmMerc3Msg = {\n    name: \"0501-Merc3-PRO625-000\",\n    typeName: \"Case Controller (HT)<\",\n    typeNum: \"12390\",\n    id: \"0988\",\n    ver: \"MERCM04\",\n    time: \"17:06:12 17/04/02<\",\n    alarmMask: \"0x0260\",\n};\n\nvar rdmMerc3MsgIo = {\n    ctrl: \"Control temp\",\n};\n\nreturn {topic: \"RDM-Merc3\", rdmMerc3Msg, rdmMerc3MsgIo};","outputs":1,"noerr":0,"x":338.5,"y":200,"wires":[["765d5701.015508"]]},{"id":"1a508c1d.4bb6b4","type":"function","z":"8775e083.119f6","name":"","func":"var js2xmlparser = require(\"js2xmlparser\");\n \nvar msg = {\n    \"firstName\": \"John\",\n    \"lastName\": \"Smith\",\n    \"dateOfBirth\": new Date(1964, 7, 26),\n    \"address\": {\n        \"@\": {\n            \"type\": \"home\"\n        },\n        \"streetAddress\": \"3212 22nd St\",\n        \"city\": \"Chicago\",\n        \"state\": \"Illinois\",\n        \"zip\": 10000\n    },\n    \"phone\": [\n        {\n            \"@\": {\n                \"type\": \"home\"\n            },\n            \"#\": \"123-555-4567\"\n        },\n        {\n            \"@\": {\n                \"type\": \"cell\"\n            },\n            \"#\": \"890-555-1234\"\n        },\n        {\n            \"@\": {\n                \"type\": \"work\"\n            },\n            \"#\": \"567-555-8901\"\n        }\n    ],\n    \"email\": \"john@smith.com\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":549.5,"y":251,"wires":[["1c0e3ddb.9eb252"]]},{"id":"3c3fb890.cf90a8","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":424.5,"y":58,"wires":[]},{"id":"84ce2e4b.937bd","type":"debug","z":"6a361a85.351894","name":"","active":false,"console":"false","complete":"true","x":570,"y":80,"wires":[]},{"id":"81f79648.9de8a8","type":"inject","z":"a5237aa5.a1d1d8","name":"All Red","topic":"","payload":"*,*,red","payloadType":"str","repeat":"","crontab":"","once":false,"x":706,"y":432,"wires":[["3f390912.2b9836"]]},{"id":"6c40b0ed.689d7","type":"inject","z":"a5237aa5.a1d1d8","name":"Off","topic":"","payload":"*,*,off","payloadType":"str","repeat":"","crontab":"","once":false,"x":706,"y":472,"wires":[["3f390912.2b9836"]]},{"id":"d2fe588e.598c38","type":"inject","z":"6a361a85.351894","name":"phoneHome","topic":"helloWorld/sensehat","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":165.83333333333331,"y":916.6666666666665,"wires":[["27b52a0d.71dcf6","f01c7356.c2d7d"]]},{"id":"27b52a0d.71dcf6","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":409.16666666666663,"y":919.9999999999999,"wires":[]},{"id":"f01c7356.c2d7d","type":"mqtt out","z":"6a361a85.351894","name":"","topic":"","qos":"1","retain":"","broker":"b2ddaaab.5e4098","x":410,"y":840,"wires":[]},{"id":"c9973e1.f3393c","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"\nreturn {payload: \"*,*,off\"};","outputs":1,"noerr":0,"x":710,"y":540,"wires":[["3f390912.2b9836"]]},{"id":"8c38b1da.ef72d","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":710,"y":1100,"wires":[]},{"id":"807f763f.f649c8","type":"function","z":"6a361a85.351894","name":"","func":"// eg 2010612FF590080BC39010020064C00FFFFFFFFFFFF\n\nvar b1 = msg.payload.substr(18, 2);\nvar b2 = msg.payload.substr(20, 2);\nvar t1 = msg.payload.substr(24, 2);\nvar t2 = msg.payload.substr(25, 2);\nmsg.b = parseInt(b2+b1 ,16)/100;\nmsg.t = parseInt(t2+t1 ,16)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":1099,"wires":[["8c38b1da.ef72d"]]},{"id":"e77e1c1a.40fa9","type":"inject","z":"6a361a85.351894","name":"","topic":"","payload":"02010612FF590080BC4A0101A10A3F00FFFFFFFFFFFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":337.5,"y":1097,"wires":[["807f763f.f649c8"]]},{"id":"1fac6f.f8766391","type":"serial out","z":"178d57ca.197c68","name":"","serial":"98e9373f.27c0e8","x":460,"y":140,"wires":[]},{"id":"caa63860.dc05b8","type":"debug","z":"178d57ca.197c68","name":"","active":true,"console":"false","complete":"true","x":330,"y":260,"wires":[]},{"id":"b4d9917a.97603","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+NI=1,MTCDT-19411515","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":60,"wires":[["1fac6f.f8766391","ff971ee2.188bc"]]},{"id":"7a38e61b.ef7498","type":"serial in","z":"178d57ca.197c68","name":"","serial":"98e9373f.27c0e8","x":130,"y":260,"wires":[["caa63860.dc05b8"]]},{"id":"b6d6d309.26702","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+NK=1,MTCDT-19411515","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":100,"wires":[["1fac6f.f8766391"]]},{"id":"1def5cae.a155c3","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+FSB=1","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["1fac6f.f8766391"]]},{"id":"9706e59a.c368b8","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+JOIN","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["1fac6f.f8766391"]]},{"id":"ff971ee2.188bc","type":"debug","z":"178d57ca.197c68","name":"","active":true,"console":"false","complete":"false","x":490,"y":60,"wires":[]},{"id":"3d23d07f.a8a53","type":"inject","z":"178d57ca.197c68","name":"","topic":"","payload":"AT+SEND=hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":220,"wires":[["d5fd8176.31e7e"]]},{"id":"a785ddbe.5b48c","type":"exec","z":"2e284049.75c5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2730,"y":400,"wires":[["c8c467e2.ce1178"],["19722ee2.868161"],["1ae6f3ae.cdea7c"]]},{"id":"219ad992.e7a806","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"stty -F /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2500,"y":300,"wires":[["a785ddbe.5b48c"]]},{"id":"1ae6f3ae.cdea7c","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":440,"wires":[]},{"id":"c8c467e2.ce1178","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":360,"wires":[]},{"id":"19722ee2.868161","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2950,"y":400,"wires":[]},{"id":"5a24946a.2452ec","type":"inject","z":"2e284049.75c5","name":"Set Freq Subband","topic":"","payload":"echo \"AT+FSB=1\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2510,"y":420,"wires":[["a785ddbe.5b48c"]]},{"id":"5ee56542.8179ec","type":"inject","z":"2e284049.75c5","name":"Join","topic":"","payload":"echo \"AT+JOIN\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2550,"y":460,"wires":[["a785ddbe.5b48c"]]},{"id":"9d393050.338c3","type":"inject","z":"2e284049.75c5","name":"Hello World","topic":"","payload":"echo \"AT+SEND=Hello World\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2530,"y":500,"wires":[["a785ddbe.5b48c"]]},{"id":"5b16c445.ae38bc","type":"inject","z":"2e284049.75c5","name":"Set Network ID","topic":"","payload":"echo \"AT+NI=1,MTCDT-19411515\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":340,"wires":[["a785ddbe.5b48c"]]},{"id":"24e52e8a.375052","type":"inject","z":"2e284049.75c5","name":"Set Network Key","topic":"","payload":"echo \"AT+NK=1,MTCDT-19411515\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":380,"wires":[["a785ddbe.5b48c"]]},{"id":"81704b5b.12f618","type":"inject","z":"2e284049.75c5","name":"Save","topic":"","payload":"echo \"AT&W\" > /dev/ttyACM1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2550,"y":540,"wires":[["a785ddbe.5b48c"]]},{"id":"cf9a4726.87c4e8","type":"inject","z":"2e284049.75c5","name":"sequencer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"30","x":570,"y":640,"wires":[["d9c54ae7.4294a8"]]},{"id":"d9c54ae7.4294a8","type":"function","z":"2e284049.75c5","name":"Initialize","func":"return {payload: \"stty -F /dev/ttyACM1\"};","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["4fadf257.83b79c","b2df0f37.625d2"]]},{"id":"f02cb349.03cb","type":"function","z":"2e284049.75c5","name":"Set Network ID","func":"//return {payload: 'echo \"AT+NI=1,targetcorp\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NI=1,edgewood\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NI=1,MTCDT-19411515\" > /dev/ttyACM1'};\n\n\n//Public LoRaWan Config\nreturn {payload: 'echo \"AT+NI=0,70:B3:D5:7E:F0:00:36:26\" > /dev/ttyACM1'}","outputs":1,"noerr":0,"x":580,"y":820,"wires":[["b4cc6cba.b6dd9","b2df0f37.625d2"]]},{"id":"4fadf257.83b79c","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":760,"wires":[["f02cb349.03cb"]]},{"id":"b4cc6cba.b6dd9","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":880,"wires":[["c3f744c.4a1ebb8"]]},{"id":"c3f744c.4a1ebb8","type":"function","z":"2e284049.75c5","name":"Set Network Key","func":"//return {payload: 'echo \"AT+NK=1,MTCDT-19411515\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NK=1,expectmorepayless\" > /dev/ttyACM1'};\n//return {payload: 'echo \"AT+NK=1,edgewood\" > /dev/ttyACM1'};\n\n//Public LoRaWan Config\nreturn {payload: 'echo \"AT+NK=0,11555500000000001100000000000000\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":590,"y":940,"wires":[["d1d4eb4f.99e038","b2df0f37.625d2"]]},{"id":"d1d4eb4f.99e038","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1000,"wires":[["9a96378e.815978"]]},{"id":"9a96378e.815978","type":"function","z":"2e284049.75c5","name":"Set Freq SubBand","func":"//return {payload: 'echo \"AT+FSB=7\" > /dev/ttyACM1'};\nreturn {payload: 'echo \"AT+FSB=1\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":590,"y":1060,"wires":[["16ef739b.50126c","b2df0f37.625d2"]]},{"id":"81a50a6a.73a608","type":"function","z":"2e284049.75c5","name":"Join","func":"return {payload: 'echo \"AT+JOIN\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1540,"wires":[["b2df0f37.625d2"]]},{"id":"16ef739b.50126c","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1120,"wires":[["324901d0.c3265e"]]},{"id":"b2df0f37.625d2","type":"exec","z":"2e284049.75c5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1270,"y":1080,"wires":[["31105408.920ddc"],["79c99863.ea10b8"],["e7c3e849.f0d2a8"]]},{"id":"e7c3e849.f0d2a8","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1120,"wires":[]},{"id":"31105408.920ddc","type":"debug","z":"2e284049.75c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1040,"wires":[]},{"id":"79c99863.ea10b8","type":"debug","z":"2e284049.75c5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":1080,"wires":[]},{"id":"324901d0.c3265e","type":"function","z":"2e284049.75c5","name":"Public","func":"//public mode // return {payload: 'echo \"AT+PN=1\" > /dev/ttyACM1'};\n//private mode return {payload: 'echo \"AT+PN=0\" > /dev/ttyACM1'};\nreturn {payload: 'echo \"AT+PN=1\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["b2df0f37.625d2","ca9017a1.979ef8"]]},{"id":"57ef57bf.d0a528","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1360,"wires":[["f536f28b.93872"]]},{"id":"f536f28b.93872","type":"function","z":"2e284049.75c5","name":"Save","func":"return {payload: 'echo \"AT&W\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":550,"y":1420,"wires":[["ced7b35f.20466"]]},{"id":"ced7b35f.20466","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1480,"wires":[["81a50a6a.73a608"]]},{"id":"1fb3c04f.61444","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":570,"y":460,"wires":[]},{"id":"925f7182.78e46","type":"serial in","z":"2e284049.75c5","name":"","serial":"740eb41c.0e84fc","x":230,"y":360,"wires":[["54b500c7.ff934"]]},{"id":"54b500c7.ff934","type":"switch","z":"2e284049.75c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"},{"t":"cont","v":"ERROR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":360,"wires":[["214056c4.34b1da","ce8f806b.d3317"],["1ebf1a71.d97276","8ed23f8b.bdb2f"],["1fb3c04f.61444"]]},{"id":"214056c4.34b1da","type":"debug","z":"2e284049.75c5","name":"","active":false,"console":"false","complete":"true","x":550,"y":320,"wires":[]},{"id":"ce8f806b.d3317","type":"switch","z":"2e284049.75c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Successfully","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":240,"wires":[["d5e15465.ec1f98"]]},{"id":"d5e15465.ec1f98","type":"function","z":"2e284049.75c5","name":"Joined Network","func":"msg.color = \"red\";\nmsg.background = \"off\";\nmsg.speed = \"2\";\nmsg.payload = \"R90\\n\"+\"Network Joined\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["87dc4c16.3e733"]]},{"id":"1ebf1a71.d97276","type":"function","z":"2e284049.75c5","name":"Not Joined","func":"msg.color = \"blue\";\nmsg.background = \"off\";\nmsg.speed = \"2\";\nmsg.payload = \"R90\\n\"+\"Error - Network Not Joined\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["36d8f807.20ac28"]]},{"id":"3aaca016.f6bf3","type":"comment","z":"2e284049.75c5","name":"Join LoRaWAN Network","info":"","x":590,"y":580,"wires":[]},{"id":"2adfa3e4.763b6c","type":"comment","z":"2e284049.75c5","name":"Serial Port Feedback","info":"","x":580,"y":140,"wires":[]},{"id":"f117bdff.2ff71","type":"mqtt in","z":"2e284049.75c5","name":"","topic":"lora-out","qos":"2","broker":"4e024af1.cd9304","x":970,"y":760,"wires":[["1a4480f5.1f3def","8ea56ca6.94ea6"]]},{"id":"8ea56ca6.94ea6","type":"function","z":"2e284049.75c5","name":"LoRa","func":"var value = msg.payload\nreturn {payload: \"echo AT+SEND=\"+value+\" > /dev/ttyACM1\"};","outputs":1,"noerr":0,"x":1130,"y":760,"wires":[["b2df0f37.625d2"]]},{"id":"1a4480f5.1f3def","type":"debug","z":"2e284049.75c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":700,"wires":[]},{"id":"36d8f807.20ac28","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":890,"y":360,"wires":[]},{"id":"87dc4c16.3e733","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":890,"y":240,"wires":[]},{"id":"8ed23f8b.bdb2f","type":"debug","z":"2e284049.75c5","name":"","active":true,"console":"false","complete":"true","x":550,"y":400,"wires":[]},{"id":"a414c8ca.05bb38","type":"function","z":"2e284049.75c5","name":"Firmware","func":"return {payload: 'echo \"ATI\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":1120,"y":1300,"wires":[["b2df0f37.625d2"]]},{"id":"bc991312.a982c","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":1400,"wires":[["a414c8ca.05bb38"]]},{"id":"ca9017a1.979ef8","type":"delay","z":"2e284049.75c5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1240,"wires":[["a5be206.b98eee"]]},{"id":"a5be206.b98eee","type":"function","z":"2e284049.75c5","name":"Class C Device","func":"return {payload: 'echo \"AT+DC=C\" > /dev/ttyACM1'};","outputs":1,"noerr":0,"x":580,"y":1300,"wires":[["57ef57bf.d0a528","b2df0f37.625d2"]]},{"id":"34e40038.bfa6b","type":"inject","z":"2e284049.75c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":267.85714285714283,"y":1561.4285714285713,"wires":[["81a50a6a.73a608"]]},{"id":"65c9e2cf.d6f9ec","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (as is)","active":true,"console":"false","complete":"payload","x":634,"y":697,"wires":[]},{"id":"ecd43ebd.0839f","type":"function","z":"178d57ca.197c68","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":711,"y":555,"wires":[["65c9e2cf.d6f9ec"],["af0f89d1.1f1268"],["1a7ae358.7e52cd"]]},{"id":"af0f89d1.1f1268","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":true,"console":"false","complete":"payload","x":670,"y":759.5,"wires":[]},{"id":"1a7ae358.7e52cd","type":"debug","z":"178d57ca.197c68","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":true,"console":"false","complete":"payload","x":680,"y":824.5,"wires":[]},{"id":"73a5066f.bd9298","type":"debug","z":"178d57ca.197c68","name":"message (as is)","active":true,"console":"false","complete":"payload","x":849,"y":505.5,"wires":[]},{"id":"65145bdc.f8ef74","type":"inject","z":"178d57ca.197c68","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"ARA=\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":419,"y":581,"wires":[["ecd43ebd.0839f"]]},{"id":"d42ace54.8ba9c","type":"inject","z":"178d57ca.197c68","name":"Text example","topic":"","payload":"{\"payload_raw\":\"SGVsbG8sIHdvcmxkIQ==\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":401,"y":631,"wires":[["ecd43ebd.0839f"]]},{"id":"30ae5e7f.b9fe22","type":"function","z":"178d57ca.197c68","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":596,"y":893,"wires":[[]]},{"id":"18c1cf7b.726481","type":"json","z":"178d57ca.197c68","name":"","x":679.5,"y":506,"wires":[["73a5066f.bd9298"]]},{"id":"5049bc5.5fa8e44","type":"comment","z":"178d57ca.197c68","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":545,"y":454,"wires":[]},{"id":"cddf0646.51c088","type":"function","z":"178d57ca.197c68","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":643,"y":945,"wires":[[]]},{"id":"6d24c49e.fcecbc","type":"change","z":"a5237aa5.a1d1d8","name":"","rules":[{"t":"set","p":"event_type","pt":"msg","to":"temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3364.5,"y":478,"wires":[["f8dfc846.006118"]]},{"id":"d8b7b3e1.4b9b4","type":"function","z":"af729df.d9f786","name":"blinkYellow","func":"var yellowMatrix = \"*,*,yellow\";\n\nvar blackMatrix = \"*,*,off\";\n\n\nif(msg.payload == 1){\n  msg.payload = yellowMatrix;\n}else{\n msg.payload = blackMatrix;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1066,"y":328,"wires":[["faa4c4c2.54bb08"]]},{"id":"a8a726c6.78d6a8","type":"trigger","z":"af729df.d9f786","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":896,"y":368,"wires":[["d8b7b3e1.4b9b4","a5a8416b.869ba"]]},{"id":"d1c46402.f946d8","type":"trigger","z":"af729df.d9f786","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":879.3333053588867,"y":311.3333263397217,"wires":[["670cf852.9f4c78","2532ca91.cef946"]]},{"id":"670cf852.9f4c78","type":"function","z":"af729df.d9f786","name":"blinkRed","func":"var redMatrix = \"*,*,red\";\n\nvar blackMatrix = \"*,*,off\";\n\n\nif(msg.payload == 1){\n  msg.payload = redMatrix;\n}else{\n msg.payload = blackMatrix;   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1121.0000076293945,"y":226.3333215713501,"wires":[["faa4c4c2.54bb08"]]},{"id":"bcdefe31.88c39","type":"inject","z":"af729df.d9f786","name":"testyellow","topic":"","payload":"yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":756,"y":448,"wires":[["a8a726c6.78d6a8"]]},{"id":"156b976b.918329","type":"delay","z":"af729df.d9f786","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":966,"y":468,"wires":[["926525fd.27b458"]]},{"id":"a5a8416b.869ba","type":"switch","z":"af729df.d9f786","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":966,"y":408,"wires":[["156b976b.918329"]]},{"id":"e4c3104.13531f","type":"inject","z":"af729df.d9f786","name":"testred","topic":"","payload":"red","payloadType":"str","repeat":"","crontab":"","once":false,"x":726,"y":128,"wires":[["d1c46402.f946d8"]]},{"id":"2532ca91.cef946","type":"switch","z":"af729df.d9f786","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":886,"y":248,"wires":[["1912bbf4.1180a4"]]},{"id":"1912bbf4.1180a4","type":"delay","z":"af729df.d9f786","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":906,"y":188,"wires":[["ea150175.87435"]]},{"id":"a2320312.cbd4d","type":"split","z":"af729df.d9f786","name":"","splt":"\\n","x":189.0000114440918,"y":168.20000171661377,"wires":[["7aef999b.564418"]]},{"id":"7aef999b.564418","type":"switch","z":"af729df.d9f786","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"}],"checkall":"true","outputs":2,"x":185.00001525878906,"y":241.20002841949463,"wires":[["50879aef.05f334","2eec1a6c.cec906"],["41fbb6d0.ffdd98","4ad3359a.6fe49c"]]},{"id":"41fbb6d0.ffdd98","type":"function","z":"af729df.d9f786","name":"BuildHumidityEvent","func":"var humidity = msg.payload;\n\nmsg = {};\nmsg.payload = {\n    eventType: \"HumidityReading\",\n    id: 1,\n    humidity: humidity\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":224.00002670288086,"y":364.2000036239624,"wires":[["9461fd3a.1ecfc"]]},{"id":"50879aef.05f334","type":"function","z":"af729df.d9f786","name":"BuildTemperatureEvent","func":"var temperature = msg.payload;\n\nmsg = {};\nmsg.payload = {\n    eventType: \"TemperatureReading\",\n    id: 1,\n    temperature: temperature\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":281.9001007080078,"y":313.8000030517578,"wires":[["ecaaa1be.5e6b1"]]},{"id":"ecaaa1be.5e6b1","type":"cepAggr","z":"af729df.d9f786","filters":[],"property":"payload","eventType":"TemperatureReading","windowType":"timer","windowParam":"60000","newEvent":"TemperatureDeviation","groupby":"TemperatureReading.id","having":"","fieldsList":[{"field":"TemperatureReading.id","alias":"id"}],"x":389.00011444091797,"y":249.2000274658203,"wires":[["a21425aa.b79018","2e406182.bdac0e","f751bad5.018dd8"]]},{"id":"a21425aa.b79018","type":"cepPattern","z":"af729df.d9f786","filters":[{"filterEvent":"Event#1","filterParameter":"TemperatureDeviation.temperatureDev > 0.1"},{"filterEvent":"Event#2","filterParameter":"HumidityDeviation.humidityDev > 2"}],"property":"event","eventType1":"TemperatureDeviation","eventType2":"HumidityDeviation","windowType":"timer","windowParam":"5000","pattern":"TemperatureDeviation OR HumidityDeviation","joinClause":"TemperatureDeviation.id == HumidityDeviation.id","newEvent":"TemperatureHumidityOcilation","fieldsList":[{"field":"TemperatureDeviation.id","alias":"temperatureId"},{"field":"HumidityDeviation.id","alias":"humidityId"}],"x":504.00009536743164,"y":345.20000648498535,"wires":[["21a8b056.d86fd","810d51b8.d11d9"]]},{"id":"9461fd3a.1ecfc","type":"cepAggr","z":"af729df.d9f786","filters":[],"property":"payload","eventType":"HumidityReading","windowType":"timer","windowParam":"60000","newEvent":"HumidityDeviation","groupby":"HumidityReading.id","having":"","fieldsList":[{"field":"HumidityReading.id","alias":"id"}],"x":393.9000415802002,"y":419.80003356933594,"wires":[["a21425aa.b79018","88bfc7e7.ab4268","bc1aed0a.e331a"]]},{"id":"2e406182.bdac0e","type":"debug","z":"af729df.d9f786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":546,"y":168,"wires":[]},{"id":"88bfc7e7.ab4268","type":"debug","z":"af729df.d9f786","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":566,"y":388,"wires":[]},{"id":"21a8b056.d86fd","type":"debug","z":"af729df.d9f786","name":"","active":true,"console":"false","complete":"event","x":566,"y":288,"wires":[]},{"id":"810d51b8.d11d9","type":"function","z":"af729df.d9f786","name":"RouteAlert","func":"if(msg.event.temperatureId && msg.event.humidityId){\n    msg.payload = \"red\";\n    return [msg, null];\n}else{\n    msg.payload = \"yellow\";\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":686,"y":348,"wires":[["7e9c0dbb.86aed4","d1c46402.f946d8"],["e4b2d86f.6a9b78","a8a726c6.78d6a8"]]},{"id":"f751bad5.018dd8","type":"change","z":"af729df.d9f786","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"event.temperatureDev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":376,"y":148,"wires":[["82ea6ed4.8001d"]]},{"id":"2eec1a6c.cec906","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/temperature","qos":"","retain":"","broker":"4e024af1.cd9304","x":246,"y":468,"wires":[]},{"id":"4ad3359a.6fe49c","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/humidity","qos":"","retain":"","broker":"4e024af1.cd9304","x":236,"y":528,"wires":[]},{"id":"82ea6ed4.8001d","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/temperaturedeviation","qos":"","retain":"","broker":"4e024af1.cd9304","x":662.6666488647461,"y":61.33333396911621,"wires":[]},{"id":"bc1aed0a.e331a","type":"change","z":"af729df.d9f786","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"event.humidityDev","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":476,"y":488,"wires":[["47bc3e27.f731b"]]},{"id":"47bc3e27.f731b","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/humiditydeviation","qos":"","retain":"","broker":"4e024af1.cd9304","x":506,"y":548,"wires":[]},{"id":"e4b2d86f.6a9b78","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/yellowalert","qos":"","retain":"","broker":"4e024af1.cd9304","x":797.6666793823242,"y":613.0000200271606,"wires":[]},{"id":"7e9c0dbb.86aed4","type":"mqtt out","z":"af729df.d9f786","name":"","topic":"noderedcep/redalert","qos":"","retain":"","broker":"4e024af1.cd9304","x":676,"y":208,"wires":[]},{"id":"926525fd.27b458","type":"repeat","z":"af729df.d9f786","name":"","repetitions":"2","elseOutput":false,"outputs":1,"x":976,"y":528,"wires":[["a8a726c6.78d6a8"]]},{"id":"ea150175.87435","type":"repeat","z":"af729df.d9f786","name":"","repetitions":"2","elseOutput":false,"outputs":1,"x":916,"y":128,"wires":[["d1c46402.f946d8"]]},{"id":"1d20e132.8c583f","type":"rpi-sensehat in","z":"af729df.d9f786","name":"","motion":false,"env":true,"stick":false,"x":107.49999618530273,"y":90.00000095367432,"wires":[["a2320312.cbd4d"]]},{"id":"faa4c4c2.54bb08","type":"ledborg","z":"af729df.d9f786","name":"","x":1380.833381652832,"y":328.3333568572998,"wires":[]},{"id":"d5fd8176.31e7e","type":"mqtt out","z":"178d57ca.197c68","name":"","topic":"lora-out","qos":"","retain":"","broker":"4e024af1.cd9304","x":381.5,"y":213,"wires":[]},{"id":"32d66977.dba606","type":"clipboard-read","z":"841ea5ba.866ea8","name":"","x":530.5,"y":1965.00000333786,"wires":[["cf92b40.186d15"]]},{"id":"cf92b40.186d15","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":726.5,"y":1962.00000333786,"wires":[]},{"id":"aa0a63e4.3e612","type":"file in","z":"841ea5ba.866ea8","name":"","filename":"/home/pi/barcode_input","format":"utf8","chunk":false,"sendError":false,"x":493.5,"y":2106.00000333786,"wires":[["f712ae9e.80524"]]},{"id":"cb01bbe6.2c33c8","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":286.5,"y":2106.00000333786,"wires":[["aa0a63e4.3e612"]]},{"id":"aea4a17d.6641","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":827,"y":2106.00000333786,"wires":[]},{"id":"f712ae9e.80524","type":"csv","z":"841ea5ba.866ea8","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":697.5,"y":2107.00000333786,"wires":[["aea4a17d.6641"]]},{"id":"ae2b9555.6fced8","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":341,"y":1962.00000333786,"wires":[["32d66977.dba606"]]},{"id":"184197a6.b2b0d8","type":"ui_text_input","z":"841ea5ba.866ea8","name":"","label":"","tooltip":"","group":"94a97d46.d4791","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"","x":641,"y":2255.00000333786,"wires":[["89c85e12.7d5fc","1462cf31.73a511"]]},{"id":"89c85e12.7d5fc","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":838,"y":2324.00000333786,"wires":[]},{"id":"d1f86a6b.48d208","type":"function","z":"841ea5ba.866ea8","name":"","func":"return {payload: ''};\n","outputs":1,"noerr":0,"x":884,"y":2184.00000333786,"wires":[["184197a6.b2b0d8"]]},{"id":"3e108b17.689174","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":302,"y":2194.00000333786,"wires":[["d1f86a6b.48d208"]]},{"id":"1462cf31.73a511","type":"delay","z":"841ea5ba.866ea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":822,"y":2254.00000333786,"wires":[["9d4a98c3.f52518"]]},{"id":"9d4a98c3.f52518","type":"switch","z":"841ea5ba.866ea8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":966,"y":2253.00000333786,"wires":[["400b8204.b458ac"],["d1f86a6b.48d208","683041c3.d8775"]]},{"id":"400b8204.b458ac","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1165,"y":2211.00000333786,"wires":[]},{"id":"683041c3.d8775","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1162,"y":2290.00000333786,"wires":[]},{"id":"2d7e8c89.5971d4","type":"serial in","z":"841ea5ba.866ea8","name":"","serial":"43a98d81.e1a674","x":170,"y":500,"wires":[["fe5eb3ce.9431c"]]},{"id":"d785c75f.237bd8","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":540,"wires":[]},{"id":"88804930.370038","type":"function","z":"6a361a85.351894","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices\"\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0',\n ['Content-Type']: 'application/json',\n}\n//ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0\nreturn msg;","outputs":1,"noerr":0,"x":276.6666564941406,"y":300,"wires":[["7455b80d.2b0648"]]},{"id":"fa9a6616.12a598","type":"inject","z":"6a361a85.351894","name":"store","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"15","x":126.66665649414062,"y":300,"wires":[["88804930.370038"]]},{"id":"7455b80d.2b0648","type":"http request","z":"6a361a85.351894","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":446.6666564941406,"y":300,"wires":[["cd61a61c.26aa58"]]},{"id":"b4ce7874.4ef3a8","type":"debug","z":"6a361a85.351894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":726.6666564941406,"y":300,"wires":[]},{"id":"cd61a61c.26aa58","type":"json","z":"6a361a85.351894","name":"","property":"payload","action":"","pretty":false,"x":586.6666564941406,"y":300,"wires":[["b4ce7874.4ef3a8"]]},{"id":"bd821388.9e5ff","type":"comment","z":"6a361a85.351894","name":"http TTN get Devices","info":"","x":156.66665649414062,"y":220,"wires":[]},{"id":"7a2ac812.ddd6f8","type":"function","z":"841ea5ba.866ea8","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices\"\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":220,"wires":[["7a891535.7de7bc"]]},{"id":"9adf9516.e65888","type":"inject","z":"841ea5ba.866ea8","name":"store","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"15","x":2580,"y":220,"wires":[["7a2ac812.ddd6f8"]]},{"id":"7a891535.7de7bc","type":"http request","z":"841ea5ba.866ea8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2900,"y":220,"wires":[["86ce0b1a.648208"]]},{"id":"70b2b322.57d3ac","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3330,"y":140,"wires":[]},{"id":"86ce0b1a.648208","type":"json","z":"841ea5ba.866ea8","name":"","property":"payload","action":"","pretty":false,"x":3060,"y":220,"wires":[["ba571214.aeb76"]]},{"id":"b784e084.38c26","type":"comment","z":"841ea5ba.866ea8","name":"http TTN Get Devices","info":"","x":2580,"y":120,"wires":[]},{"id":"54efdfe3.8d43","type":"link in","z":"a5237aa5.a1d1d8","name":"barcodeOut","links":["15171feb.d98aa"],"x":555,"y":1020,"wires":[["12050cc1.ee8693"]]},{"id":"af119ef9.08b1","type":"debug","z":"a5237aa5.a1d1d8","name":"","active":true,"console":"false","complete":"true","x":567,"y":391,"wires":[]},{"id":"fe5eb3ce.9431c","type":"function","z":"841ea5ba.866ea8","name":"","func":"let serial_input_raw = msg.payload.toString('utf8');\nlet serial_input = serial_input_raw.replace(/(\\r\\n|\\n|\\r|\\t|\\U+2192|\\)/gm,\"\");\n\nlet length = serial_input.length;\nlet dev_eui = serial_input.substring(0,16);\n\nlet app_key = serial_input.substring(16);    \n\nflow.set('dev_eui', dev_eui);\nflow.set('app_key', app_key);\n\nreturn {payload: {\n    dev_eui: dev_eui,\n    app_key: app_key,\n    raw: serial_input_raw,\n}};\n","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["a24f3e5e.ee462","949265db.9d0bc8"]]},{"id":"c623fe5e.ac32a","type":"function","z":"841ea5ba.866ea8","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices\"\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0',\n ['Content-Type']: 'application/json',\n}\n//ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0\nreturn msg;","outputs":1,"noerr":0,"x":3050,"y":2000,"wires":[[]]},{"id":"f8e2ee21.6054b","type":"function","z":"841ea5ba.866ea8","name":"","func":"var dev_eui = msg.payload.dev_eui;\n\n//var ttn_access_key = flow.get('ttn_access_key');\n\nlet ttn_access_key = 'ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0';\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices/\"+dev_eui;\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0',\n ['Content-Type']: 'application/json',\n}\n//ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0\nreturn msg;","outputs":1,"noerr":0,"x":2731.9999923706055,"y":308.6667308807373,"wires":[["7a891535.7de7bc"]]},{"id":"e3c94c92.903b3","type":"link in","z":"841ea5ba.866ea8","name":"","links":["83d20707.c95ca8"],"x":2515,"y":1080,"wires":[["50d31ee1.889d1"]]},{"id":"83d20707.c95ca8","type":"link out","z":"841ea5ba.866ea8","name":"devEUI","links":["e3c94c92.903b3"],"x":635,"y":580,"wires":[]},{"id":"12050cc1.ee8693","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"return{payload: \"*,*,red\"};\n\n","outputs":1,"noerr":0,"x":690,"y":1020,"wires":[["5f182d15.6ebae4","9af10bd6.54a3c8"]]},{"id":"5f182d15.6ebae4","type":"delay","z":"a5237aa5.a1d1d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":1160,"wires":[["2eff2b8.27c92d4"]]},{"id":"2eff2b8.27c92d4","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"return{payload: \"*,*,off\"};","outputs":1,"noerr":0,"x":850,"y":1160,"wires":[["9af10bd6.54a3c8"]]},{"id":"89e3b651.98f358","type":"file","z":"841ea5ba.866ea8","name":"","filename":"sensor_scans.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":830,"y":540,"wires":[["d785c75f.237bd8"]]},{"id":"2a7fdcfb.149344","type":"csv","z":"841ea5ba.866ea8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"dev_eui,app_key","skip":"0","strings":true,"x":670,"y":540,"wires":[["89e3b651.98f358"]]},{"id":"a24f3e5e.ee462","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":493.33332570393884,"y":431.66665617624926,"wires":[]},{"id":"a0e7ed4.984691","type":"e-mail","z":"841ea5ba.866ea8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"bdbuysse@gmail.com","dname":"gmail","x":3337.5,"y":1902.5,"wires":[]},{"id":"2eca97bc.a8baf8","type":"function","z":"841ea5ba.866ea8","name":"","func":"let topic = 'test';\nlet payload = 'test';\n\nnewMsg = {topic: topic, payload: payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":3157.5,"y":1902.5,"wires":[["36180256.ff2f2e","a0e7ed4.984691"]]},{"id":"b8a5c944.7c8488","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3007.5,"y":1902.5,"wires":[["2eca97bc.a8baf8"]]},{"id":"36180256.ff2f2e","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3297.5,"y":1822.5,"wires":[]},{"id":"a6cce725.7207c8","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"temp-rh-bdb-desk","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":140,"wires":[["46bd8019.e89c"]]},{"id":"46bd8019.e89c","type":"function","z":"841ea5ba.866ea8","name":"set device_name","func":"let device_name = msg.payload;\nflow.set ('device_name', device_name);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["18208e8a.f9f751"]]},{"id":"18208e8a.f9f751","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":140,"wires":[]},{"id":"a082206f.28ab9","type":"inject","z":"841ea5ba.866ea8","name":"access key","topic":"","payload":"ttn-account-v2.-YkDLtt2CsWBuCE4pdcL1T7R0Aca7o7waUrHXURfbT0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1670,"y":120,"wires":[["ecd3d890.4dbcd8"]]},{"id":"ecd3d890.4dbcd8","type":"change","z":"841ea5ba.866ea8","name":"flow.ttn_access_key","rules":[{"t":"set","p":"ttn_access_key","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":120,"wires":[["b29704be.5e9028"]]},{"id":"b29704be.5e9028","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":120,"wires":[]},{"id":"ba571214.aeb76","type":"switch","z":"841ea5ba.866ea8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3190,"y":220,"wires":[["70b2b322.57d3ac","54c220a.eebb8e"],["f338fc52.f5541"]]},{"id":"f338fc52.f5541","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3330,"y":340,"wires":[]},{"id":"54c220a.eebb8e","type":"function","z":"841ea5ba.866ea8","name":"","func":"let dev_eui = flow.get('dev_eui');\nlet devices = msg.payload.devices;\n\n\nfor (var i = 0 ; i < devices.length; i++) {\n    //node.send(payload: devices[i].lorawan_device.dev_eui)\n  if (devices[i].lorawan_device.dev_eui === 'CCC0790000EE58D8') {\n  //if (msg.payload.devices[i].lorawan_device.dev_eui === dev_eui) {\n      flow.set('dev_id', msg.payload.devices[i].dev_id)\n      return {payload: \"found match\"}\n  } else {\n      return {payload: {\n          status: \"not setup\",\n          dev_eui: msg.payload.devices[i].lorawan_device.dev_eui\n      }} \n  }\n}\n\n\n","outputs":1,"noerr":0,"x":3330,"y":220,"wires":[["f642d7e2.7845d8"]]},{"id":"f642d7e2.7845d8","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3470,"y":220,"wires":[]},{"id":"ba65a24c.e0bc4","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2600,"y":1280,"wires":[["ebd006f3.dbfbd8"]]},{"id":"ebd006f3.dbfbd8","type":"function","z":"841ea5ba.866ea8","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"https://account.thethingsnetwork.org/api/v2/applications\"\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2770,"y":1280,"wires":[["7d072e59.e83cd"]]},{"id":"7d072e59.e83cd","type":"http request","z":"841ea5ba.866ea8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2930,"y":1280,"wires":[["80fe89ba.ac0448"]]},{"id":"80fe89ba.ac0448","type":"json","z":"841ea5ba.866ea8","name":"","property":"payload","action":"","pretty":false,"x":3070,"y":1280,"wires":[["3a905d73.334b32"]]},{"id":"3a905d73.334b32","type":"switch","z":"841ea5ba.866ea8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3190,"y":1280,"wires":[["ff7c10b2.26e7f"],["9ed4d2c2.2b144"]]},{"id":"ff7c10b2.26e7f","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3330,"y":1240,"wires":[]},{"id":"9ed4d2c2.2b144","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3330,"y":1320,"wires":[]},{"id":"cde6afe2.aec9d","type":"comment","z":"841ea5ba.866ea8","name":"v2/applications","info":"","x":2580,"y":1180,"wires":[]},{"id":"dc0e8899.2d6838","type":"http request","z":"841ea5ba.866ea8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2910,"y":580,"wires":[["12284b77.b9ae85"]]},{"id":"12284b77.b9ae85","type":"json","z":"841ea5ba.866ea8","name":"","property":"payload","action":"","pretty":false,"x":3070,"y":580,"wires":[["3c0839c.c88e3c6"]]},{"id":"3c0839c.c88e3c6","type":"switch","z":"841ea5ba.866ea8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3200,"y":580,"wires":[["5cf06c4d.ea5e74","2491ed.d6960e14"],[]]},{"id":"13575a06.6bdcd6","type":"function","z":"841ea5ba.866ea8","name":"","func":"var ttn_access_key = flow.get('ttn_access_key');\nlet dev_id = 'temp-basement-bedroom1'\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices/\" + dev_id;\nmsg.method = \"GET\"\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":580,"wires":[["dc0e8899.2d6838"]]},{"id":"96f32aa8.525008","type":"inject","z":"841ea5ba.866ea8","name":"store","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"15","x":2570,"y":580,"wires":[["13575a06.6bdcd6"]]},{"id":"c072eb4c.1409b8","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3650,"y":440,"wires":[]},{"id":"5cf06c4d.ea5e74","type":"change","z":"841ea5ba.866ea8","name":"set device","rules":[{"t":"set","p":"set_device","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3370,"y":500,"wires":[["c072eb4c.1409b8"]]},{"id":"ca335b72.cfd098","type":"inject","z":"841ea5ba.866ea8","name":"dev_id","topic":"","payload":"edina-walkin-cooler","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1650,"y":160,"wires":[["fb0d8f69.d1449"]]},{"id":"fb0d8f69.d1449","type":"change","z":"841ea5ba.866ea8","name":"flow.dev_id","rules":[{"t":"set","p":"dev_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":160,"wires":[["b037bb02.62b7b8"]]},{"id":"b037bb02.62b7b8","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":160,"wires":[]},{"id":"8f7d436d.856ac","type":"function","z":"841ea5ba.866ea8","name":"Update Device","func":"//### Format TTN Devices PUT\n\nlet app_id = msg.payload.app_id;\n\nvar dev_id = flow.get('dev_id');\n//let dev_id = msg.payload.dev_id;\n\nlet app_eui = msg.payload.lorawan_device.app_eui;\nlet dev_eui = msg.payload.lorawan_device.dev_eui;\n\nlet dev_addr = msg.payload.lorawan_device.dev_addr;\nlet nwk_s_key = msg.payload.lorawan_device.nwk_s_key;\nlet app_s_key = msg.payload.lorawan_device.app_s_key;\nlet app_key = msg.payload.lorawan_device.app_key;\nlet f_cnt_up = msg.payload.lorawan_device.f_cnt_up;\nlet f_cnt_down = msg.payload.lorawan_device.f_cnt_down;\n\nlet description = '7233 Garage Temperature';\nlet lattitude = '45.830';\nlet longitude = '93.2230';\n\nmsg.payload = {\n    altitude: 895,\n    app_id: app_id,\n    dev_id: dev_id,\n    attributes: {\n        key: \"\",\n        value: \"\",\n    }, \n    description: description,\n    lattitude: lattitude,\n    longitude: longitude,\n    lorawan_device: {\n        activation_constraints: 'local',\n        app_eui: app_eui,\n        app_id: app_id,\n        app_key: app_key,\n        app_s_key: app_s_key,\n        dev_addr: dev_addr,\n        dev_eui: dev_eui,\n        dev_id: dev_id,\n        disable_f_cnt_check: false,\n        f_cnt_up: f_cnt_up,\n        f_cnt_down: f_cnt_down,\n        nwk_s_key: nwk_s_key,\n        uses32_bit_f_cnt: true,\n},};\n\nvar ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices/\" + dev_id;\nmsg.method = \"PUT\";\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":820,"wires":[["be2a0323.54122","b5ed69c8.d097f8"]]},{"id":"be2a0323.54122","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":760,"wires":[]},{"id":"2491ed.d6960e14","type":"link out","z":"841ea5ba.866ea8","name":"getDevice","links":["8ad1919b.e4f76"],"x":3335,"y":580,"wires":[]},{"id":"8ad1919b.e4f76","type":"link in","z":"841ea5ba.866ea8","name":"","links":["2491ed.d6960e14"],"x":2535,"y":820,"wires":[["9e004498.e63d18","8f7d436d.856ac"]]},{"id":"9e004498.e63d18","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2650,"y":760,"wires":[]},{"id":"7ead51a9.5b611","type":"inject","z":"841ea5ba.866ea8","name":"latitude","topic":"","payload":"45.830","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1660,"y":280,"wires":[["9dc5fbad.304668"]]},{"id":"9dc5fbad.304668","type":"change","z":"841ea5ba.866ea8","name":"flow.latitude","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":280,"wires":[["f3104020.fe272"]]},{"id":"f3104020.fe272","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":280,"wires":[]},{"id":"8cf30b10.ad3c28","type":"inject","z":"841ea5ba.866ea8","name":"longitude","topic":"","payload":"93.2230","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1660,"y":320,"wires":[["b669f779.6ce868"]]},{"id":"b669f779.6ce868","type":"change","z":"841ea5ba.866ea8","name":"flow.longitude","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":320,"wires":[["a02ce335.cbd79"]]},{"id":"a02ce335.cbd79","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":320,"wires":[]},{"id":"90a375c.5d85188","type":"inject","z":"841ea5ba.866ea8","name":"description","topic":"","payload":"walkin-cooler-2313","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1670,"y":380,"wires":[["bc1c4394.9e4fe"]]},{"id":"bc1c4394.9e4fe","type":"change","z":"841ea5ba.866ea8","name":"flow.description","rules":[{"t":"set","p":"description","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":380,"wires":[["a3c7764e.100088"]]},{"id":"a3c7764e.100088","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":380,"wires":[]},{"id":"b5ed69c8.d097f8","type":"http request","z":"841ea5ba.866ea8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2870,"y":820,"wires":[["f0f52ed6.4ee09"]]},{"id":"f0f52ed6.4ee09","type":"json","z":"841ea5ba.866ea8","name":"","property":"payload","action":"","pretty":false,"x":3030,"y":820,"wires":[["8b71fafe.4ccd88"]]},{"id":"8b71fafe.4ccd88","type":"switch","z":"841ea5ba.866ea8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3150,"y":820,"wires":[["1a952a92.b470c5"],["f46146cb.175b58"]]},{"id":"1a952a92.b470c5","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3290,"y":780,"wires":[]},{"id":"f46146cb.175b58","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3290,"y":840,"wires":[]},{"id":"78d75cda.754794","type":"function","z":"841ea5ba.866ea8","name":"","func":"//### Format TTN Devices PUT\n\nlet app_id = msg.payload.app_id;\n\nvar dev_id = flow.get('dev_id');\n//let dev_id = msg.payload.dev_id;\n\nlet app_eui = msg.payload.lorawan_device.app_eui;\nlet dev_eui = msg.payload.lorawan_device.dev_eui;\n\nlet dev_addr = msg.payload.lorawan_device.dev_addr;\nlet nwk_s_key = msg.payload.lorawan_device.nwk_s_key;\nlet app_s_key = msg.payload.lorawan_device.app_s_key;\nlet app_key = msg.payload.lorawan_device.app_key;\nlet f_cnt_up = msg.payload.lorawan_device.f_cnt_up;\nlet f_cnt_down = msg.payload.lorawan_device.f_cnt_down;\n\nlet description = '7233 Garage Temperature';\nlet lattitude = '45.830';\nlet longitude = '93.2230';\n\nmsg.payload = {\n    altitude: 895,\n    app_id: app_id,\n    attributes: {\n        key: \"\",\n        value: \"\",\n    }, \n    description: description,\n    lattitude: lattitude,\n    longitude: longitude,\n    lorawan_device: {\n        activation_constraints: 'local',\n        app_eui: app_eui,\n        app_id: app_id,\n        app_key: app_key,\n        app_s_key: app_s_key,\n        dev_addr: dev_addr,\n        dev_eui: dev_eui,\n        dev_id: dev_id,\n        disable_f_cnt_check: false,\n        f_cnt_up: f_cnt_up,\n        f_cnt_down: f_cnt_down,\n        nwk_s_key: nwk_s_key,\n        uses32_bit_f_cnt: true,\n},};\n\nvar ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices/\" + dev_id;\nmsg.method = \"PUT\";\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":960,"wires":[[]]},{"id":"ff05adab.6b24b","type":"inject","z":"841ea5ba.866ea8","name":"app_eui","topic":"","payload":"0101010101010101","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1660,"y":200,"wires":[["7f6e01a9.87fa7"]]},{"id":"7f6e01a9.87fa7","type":"change","z":"841ea5ba.866ea8","name":"flow.app_eui","rules":[{"t":"set","p":"app_eui","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":200,"wires":[["2714705.32e509"]]},{"id":"2714705.32e509","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":200,"wires":[]},{"id":"882da7da.57f7d8","type":"comment","z":"841ea5ba.866ea8","name":"Set Device Configuration","info":"","x":1690,"y":60,"wires":[]},{"id":"1e2d50c6.369b3f","type":"http request","z":"877fc75.a32e738","name":"Create device","method":"PUT","ret":"obj","url":"http://eu.thethings.network:8084/applications/{{APP_ID}}/devices","tls":"","x":640,"y":140,"wires":[[]]},{"id":"3162f099.ea259","type":"function","z":"877fc75.a32e738","name":"Config new device","func":"//msg.payload = \"data to post\";\nAPP_DEFAULT_KEY=msg.payload.APP_DEFAULT_KEY;\nAPP_ID=msg.payload.APP_ID;\nAPP_EUI=msg.payload.APP_EUI;\nDEV_ID=msg.payload.DEV_ID;\nDEV_DESCRIPTION=msg.payload.DEV_DESCRIPTION;\nDEV_LATITUDE=msg.payload.DEV_LATITUDE;\nDEV_LONGITUDE=msg.payload.DEV_LONGITUDE;\n\n//msg.method=msg.payload.API_METHOD;\nmsg.headers = {};\nmsg.APP_ID = APP_ID;\nmsg.headers['Authorization'] = 'Key ' + APP_DEFAULT_KEY;\nmsg.headers['Accept'] = 'application/json';\nmsg.payload = \"{  \\\"altitude\\\": 0, \\\"app_id\\\": \\\"\" + APP_ID + \"\\\",  \\\"attributes\\\": {    \\\"key\\\": \\\"\\\",    \\\"value\\\": \\\"\\\"  },  \\\"description\\\": \\\"\" + DEV_DESCRIPTION + \"\\\",  \\\"dev_id\\\": \\\"\" + DEV_ID + \"\\\",  \\\"latitude\\\": \" + DEV_LATITUDE + \",  \\\"longitude\\\": \" + DEV_LONGITUDE + \",  \\\"lorawan_device\\\": {    \\\"activation_constraints\\\": \\\"otaa\\\",    \\\"app_eui\\\": \\\"\" + APP_EUI + \"\\\",    \\\"app_id\\\": \\\"\" + APP_ID + \"\\\",    \\\"app_key\\\": \\\"01020304050607080102030405060708\\\",    \\\"app_s_key\\\": \\\"01020304050607080102030405060708\\\",    \\\"dev_addr\\\": \\\"01020304\\\",    \\\"dev_eui\\\": \\\"0102030405060708\\\",    \\\"dev_id\\\": \\\"\" + DEV_ID + \"\\\",    \\\"disable_f_cnt_check\\\": false,    \\\"f_cnt_down\\\": 0,    \\\"f_cnt_up\\\": 0,    \\\"last_seen\\\": 0,    \\\"nwk_s_key\\\": \\\"01020304050607080102030405060708\\\",    \\\"uses32_bit_f_cnt\\\": true  }}\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["1e2d50c6.369b3f"]]},{"id":"2063341f.38a49c","type":"function","z":"877fc75.a32e738","name":"input json format","func":"msg.api_method=msg.payload.API_METHOD;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["76a7aecf.d61dd"]]},{"id":"76a7aecf.d61dd","type":"switch","z":"877fc75.a32e738","name":"IF METHOD","property":"api_method","propertyType":"msg","rules":[{"t":"eq","v":"PUT","vt":"str"},{"t":"eq","v":"POST","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":160,"wires":[["3162f099.ea259"],["3162f099.ea259"],["3b0d44d2.508cdc"]]},{"id":"256f0ee8.320f82","type":"http request","z":"877fc75.a32e738","name":"Delete device","method":"DELETE","ret":"obj","url":"http://eu.thethings.network:8084/applications/{{APP_ID}}/devices/{{DEV_ID}}","tls":"","x":640,"y":180,"wires":[[]]},{"id":"3b0d44d2.508cdc","type":"function","z":"877fc75.a32e738","name":"Config delete device","func":"//msg.payload = \"data to post\";\nAPP_DEFAULT_KEY=msg.payload.APP_DEFAULT_KEY;\nAPP_ID=msg.payload.APP_ID;\nDEV_ID=msg.payload.DEV_ID;\n\nmsg.headers = {};\nmsg.APP_ID = APP_ID;\nmsg.DEV_ID = DEV_ID;\nmsg.headers['Authorization'] = 'Key ' + APP_DEFAULT_KEY;\nmsg.headers['Accept'] = 'application/json';\nmsg.payload = \"{\\\"app_id\\\" : \\\" + APP_ID + \\\" , \\\"dev_id\\\": \\\"\" +   DEV_ID + \"\\\"}\";\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":240,"wires":[["256f0ee8.320f82"]]},{"id":"dedc1d81.9dd4f","type":"inject","z":"877fc75.a32e738","name":"sample injet new device","topic":"new_device","payload":"{\"API_METHOD\":\"PUT\",\"APP_DEFAULT_KEY\":\"YOUR_TTN_APPLICATION_KEY\",\"APP_ID\":\"YOUR TTN APP ID\",\"APP_EUI\":\"YOUR TTN APP EUI\",\"DEV_ID\":\"anewdevice\",\"DEV_DESCRIPTION\":\"Created from nodered\",\"DEV_LATITUDE\":52.456,\"DEV_LONGITUDE\":4.887}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":240,"wires":[[]]},{"id":"cef61e56.7f759","type":"inject","z":"877fc75.a32e738","name":"sample injet DELETE device","topic":"new_device","payload":"{\"API_METHOD\":\"DELETE\",\"APP_DEFAULT_KEY\":\"YOUR TTN APP KEY\",\"APP_ID\":\"YOUR TTN APP ID\",\"DEV_ID\":\"anewdevice\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":280,"wires":[[]]},{"id":"17c47e6.0b60a82","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2850,"y":1020,"wires":[]},{"id":"327b40d8.c28cb","type":"http request","z":"841ea5ba.866ea8","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":2870,"y":1080,"wires":[["1d7ef45d.d656cc"]]},{"id":"1d7ef45d.d656cc","type":"json","z":"841ea5ba.866ea8","name":"","property":"payload","action":"","pretty":false,"x":3030,"y":1080,"wires":[["b071d73f.387688"]]},{"id":"b071d73f.387688","type":"switch","z":"841ea5ba.866ea8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3150,"y":1080,"wires":[["65376391.0af54c"],["4588d522.568d8c"]]},{"id":"65376391.0af54c","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3290,"y":1040,"wires":[]},{"id":"4588d522.568d8c","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3290,"y":1100,"wires":[]},{"id":"50d31ee1.889d1","type":"function","z":"841ea5ba.866ea8","name":"Create Device","func":"//### Format TTN Devices PUT\n\nvar app_id = flow.get('app_id');\nvar app_eui = flow.get('app_eui');\nvar dev_id = flow.get('dev_id');\nvar dev_eui = flow.get('dev_eui');\nvar app_key = flow.get('app_key');\nvar description = flow.get('description');\nvar latitude = flow.get('latitude');\nvar longitude = flow.get('longitude');\n\n\n//let dev_addr = msg.payload.lorawan_device.dev_addr;\n//let nwk_s_key = msg.payload.lorawan_device.nwk_s_key;\n//let app_s_key = msg.payload.lorawan_device.app_s_key;\n\n//let f_cnt_up = msg.payload.lorawan_device.f_cnt_up;\n//let f_cnt_down = msg.payload.lorawan_device.f_cnt_down;\n\n\nmsg.payload = {\n    altitude: 895,\n    app_id: app_id,\n    dev_id: dev_id,\n    attributes: {\n        key: \"\",\n        value: \"\",\n    }, \n    description: description,\n    latitude: latitude,\n    longitude: longitude,\n    lorawan_device: {\n        activation_constraints: 'local',\n        app_eui: app_eui,\n        app_id: app_id,\n        app_key: app_key,\n        //app_s_key: app_s_key,\n        //dev_addr: dev_addr,\n        dev_eui: dev_eui,\n        dev_id: dev_id,\n        disable_f_cnt_check: false,\n        //f_cnt_up: f_cnt_up,\n        //f_cnt_down: f_cnt_down,\n        //nwk_s_key: nwk_s_key,\n        uses32_bit_f_cnt: true,\n},};\n\nvar ttn_access_key = flow.get('ttn_access_key');\n\nmsg.url = \"http://us-west.thethings.network:8084/applications/edgewood-radiobridge/devices/\" + dev_id;\nmsg.method = \"POST\";\nmsg.headers = {\n ['Authorization']: 'Key ' + ttn_access_key,\n ['Content-Type']: 'application/json',\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":1080,"wires":[["327b40d8.c28cb","17c47e6.0b60a82"]]},{"id":"42ff25d3.d5066c","type":"inject","z":"841ea5ba.866ea8","name":"app_id","topic":"","payload":"edgewood-radiobridge","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1660,"y":240,"wires":[["76483a66.0a1dc4"]]},{"id":"76483a66.0a1dc4","type":"change","z":"841ea5ba.866ea8","name":"flow.app_id","rules":[{"t":"set","p":"app_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":240,"wires":[["9c264f51.866ef"]]},{"id":"9c264f51.866ef","type":"debug","z":"841ea5ba.866ea8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2030,"y":240,"wires":[]},{"id":"5999c507.8913ac","type":"e-mail","z":"6a361a85.351894","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1370,"y":1560,"wires":[]},{"id":"4ae53273.e41bdc","type":"inject","z":"6a361a85.351894","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":1720,"wires":[[]]},{"id":"ba3dee7d.4fdb2","type":"debug","z":"6a361a85.351894","name":"","active":true,"console":"false","complete":"true","x":970,"y":1640,"wires":[]},{"id":"4a6262a.de87f9c","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"\nreturn {payload: \"*,*,off\"};","outputs":1,"noerr":0,"x":830,"y":880,"wires":[["99bd0d1b.332cb"]]},{"id":"3de03d94.6a7952","type":"function","z":"a5237aa5.a1d1d8","name":"Animate","func":"\n\nmsg.color = \"red\";\nmsg.background = \"blue\";\nmsg.speed = \"5\";\nmsg.payload = \"R180\\n\"+\"Email Sent\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":740,"wires":[["99bd0d1b.332cb","d4cf5405.fd49b8","3a064441.a2b7bc"]]},{"id":"99bd0d1b.332cb","type":"link out","z":"a5237aa5.a1d1d8","name":"buttonOut","links":["7b0d82b.9e3077c"],"x":895,"y":740,"wires":[]},{"id":"d4cf5405.fd49b8","type":"delay","z":"a5237aa5.a1d1d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":880,"wires":[["4a6262a.de87f9c"]]},{"id":"7b0d82b.9e3077c","type":"link in","z":"a5237aa5.a1d1d8","name":"senseHatIN","links":["9af10bd6.54a3c8","99bd0d1b.332cb"],"x":1215,"y":460,"wires":[["3f390912.2b9836"]]},{"id":"9af10bd6.54a3c8","type":"link out","z":"a5237aa5.a1d1d8","name":"scan","links":["7b0d82b.9e3077c"],"x":975,"y":1000,"wires":[]},{"id":"3a064441.a2b7bc","type":"function","z":"a5237aa5.a1d1d8","name":"","func":"body = 'LoRa Sensor Scans';\ntopic = 'Sensor Provisioning';\nto = 'bdbuysse@gmail.com';\n\nnewMsg = {\n    topic: topic,\n    payload: body,\n    to: to,\n    attachments: [{\n        filename: 'sensor_scans.csv',\n        path: '/home/bdb/sensor_scans.csv'\n        \n    }]\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":830,"y":680,"wires":[["3e16aee5.e6bb72"]]},{"id":"3e16aee5.e6bb72","type":"e-mail","z":"a5237aa5.a1d1d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":680,"wires":[]},{"id":"38262061.96606","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"TTN","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":200,"wires":[["4df1338e.3c449c"]]},{"id":"4df1338e.3c449c","type":"function","z":"841ea5ba.866ea8","name":"set flow_mode","func":"let flow_mode = msg.payload;\nflow.set ('flow_mode', flow_mode);\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["bed7072b.a1ff18"]]},{"id":"bed7072b.a1ff18","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"af650eac.6b82d","type":"inject","z":"841ea5ba.866ea8","name":"","topic":"","payload":"TGT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["4df1338e.3c449c"]]},{"id":"949265db.9d0bc8","type":"switch","z":"841ea5ba.866ea8","name":"","property":"flow_mode","propertyType":"flow","rules":[{"t":"eq","v":"TGT","vt":"str"},{"t":"eq","v":"TTN","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":580,"wires":[["2a7fdcfb.149344"],["83d20707.c95ca8"],["27269d38.f9bba2"]]},{"id":"27269d38.f9bba2","type":"debug","z":"841ea5ba.866ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":620,"wires":[]},{"id":"854f3373.c4a71","type":"inject","z":"42007c00.67e624","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":100,"wires":[[]]}]